.Site-wrapper {
  text-align: center;
}


.Site-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Site-title {
  font-size: 5rem;
  font-family: 'Permanent Marker';
}

.My-info {
  font-family: 'Permanent Marker';
}
.My-info h1 {
  color: indigo;
}

.My-intro {
  font-family: 'Open Sans Condensed', sans-serif;
}
