
/* Header */
.Site-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  
}

.Site-title {
  width: 50%;
  font-size: 5rem;
  font-family: 'Oswald';
  text-align: left;
}
.nav-menu {
  width: 50%;
}
.nav-menu a {
  margin: 0 5%;
  font-size: 1.5rem;
}
/* end of Header */

/* About */
.About {
  font-family: 'Oswald';
  margin: 100px 200px;
  display: flex;
  flex-direction: column;

}
.About h1 {
  font-size: 4rem;
  margin: 0;
}
.About h2 {
  font-size: 2rem;
  margin: 0;
}

.My-intro {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}
/* end of about */

/* Portfolio */
.My-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  padding-bottom: 5%;
}
.My-portfolio h1 {
  width: 100%;
  font-size: 4rem;
}
.My-portfolio h2 {
  font-size: 2rem;
}
.project {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.container {
  height: 500px;
  width: 400px;
}
.container img {
  width: auto;
  height: 500px;
}
#aloha {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#instanews {
  border-left:  1px solid black;
  border-bottom:  1px solid black;
}
#inhabitent {
  border-right: 1px solid black;
  border-top:  1px solid black;
  padding-top: 5%;
}
#qod {
  border-left:  1px solid black;
  border-top:  1px solid black;
  padding-top: 5%;
}
/* end of portfolio */

/* Adventures */
.Adventures {
  display: flex;
  margin: 0 100px;
  padding-bottom: 10%;
}
.Cycling {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  border-right: 1px solid black;
}
.Fishing {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  border-left: 1px solid black;
}

.Cycling img {
  height: 600px;
  width: auto;
}
.Fishing img {
  height: 600px;
  width: auto;
}
/* end of Adventures */

/* Footer */
.Site-footer {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}